.img-container {
    margin-bottom: 20px;
}

.img-container img {
    height: 220px;
    width: auto; 
    border-radius: 50%; 
    border: 2px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 1), 
               -10px 0px 10px -10px rgba(0, 0, 0, 1), 
                10px 0px 10px -10px rgba(0, 0, 0, 1); 
}

.leftside-container {
    width: 40%; 
    background-color:#193e6b;
    color: white;
    padding: 20px; 
}

.leftside-container p {
    font-size: 20px
}

.leftside-container ul {
    font-size: 20px;
}

.rightside-container {
    width: 60%; 
    padding: 30px;
    background-color: white;
    margin-top: 60px;
}

.rightside-container h1,
.rightside-container h2,
.rightside-container h3,
.rightside-container h4,
.rightside-container h5 {
    color: #143761;
}

.rightside-container h2,
.rightside-container h3,
.rightside-container h4,
.rightside-container h5 {
    opacity: 0.9;
}

.rightside-container h6 {
    font-size: 20px;
}

.rightside-container p {
    font-size: 20px;
}

.rightside-container li {
    font-size: 20px;
}




